.fondo {
	background-image: url(https://www.montero-aramburu.com/wp-content/uploads/2019/05/clubes_deportivos_2.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
    margin: 0;
}

.titulo {
	margin: 10px;
	width: 35%;
	background-color: rgba(156,156,156,0.8);
	color: white;
	text-align: center;
	border-radius: 25%;
}
.nav{
	width: 500px;
	margin:55px auto;
	background: rgba(200,200,200,1);
	border-radius: 25px;
}
.nav ul{
	list-style: none;
}

.menu li{
	position: relative;
	display: inline-block;
	font-family: "Bookman Old Style";
	border-radius: 15px;

}
.menu a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}
.menu li a:hover{
	color: blue;
	transition: 11 .3s;
	background:rgba(100,250,50,0.75);
	cursor: pointer; 
}
#tabla{
	margin:auto;
    width: 400px;
    height: 300px;
    list-style: none;
}


table{
	background-color: rgba(215, 218, 174, 0.75);
    text-align: left;
    border-collapse: collapse;
    list-style: none;
	border-radius: 5%;
}

th, td, tr {
    padding: 20px;
    border: solid;
    border-radius: 5%;
    list-style: none;

}

#tabla a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.945);
    list-style: none;
}