     
.inicio {
	width: 450px;
	margin: auto; 
	background: rgba(500,500,500,0.75);
	padding: 20px 0px;
	box-sizing: content-box;
	margin-top:20px;
	border-radius: 15px; 
	font-family: "Times new roman", serif;
	}
.fondo {
	background-image: url(https://yourdailywire.com/wp-content/uploads/2019/02/6-Reasons-You-Should-Never-Open-a-Gym.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
}

h2 {
	color: black;
	text-align: center;
	margin: 0	
}
input {
	background: none;
	margin: auto;
	display: block;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	width: 75%;
	border: none;
	border-bottom: 1px solid black;
}

a{
	color: rgb(500,500,500);
	text-decoration: none;
	width: 450px;
	border-radius: 10px;
	margin: 5;
	text-align: center;
	box-sizing: content-box;	
}
.registro {
	background: red;
	opacity: 0.7;
	width:150px;
	border-radius: 20px;
}

#boton {
	background: rgba(100,100,100,0.7);
	padding: 10px;
	border-radius: 15px;
	text-decoration-color: rgb(0,0,0);
	font-family: bold, "Bahnschrift SemiBold";
	width: 75%;
	font-size: 20px;
	
}
#boton:hover {
	cursor: pointer;
}