.fondo {
	background-image: url(https://static2.abc.es/media/bienestar/2019/10/16/rutina-fitness-k3EB--620x349@abc.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
}
.registro {
	width: 375px;
	margin: auto auto ; 
	background: rgba(350,400,450,0.80);
	padding: 20px 0px;
	box-sizing: content-box;
	margin-top:20px;
	border-radius: 15px; 
	font-family: "Comic sans ms";
	text-shadow: bold;
	}

h2{
	text-align: center;
	text-decoration-line: initial;
	margin: 0;
}
.formulario{
	width: 100%;
	text-align: center;
	position: relative;
	margin: 0;
	box-sizing: border-box;

}
input{
	background: none;
	margin: auto;
	display: block;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	width: 75%;
	border: none;
	border-bottom: 1px solid black;
}

button {
	background: rgba(100,100,100,0.7);
	padding: 8px;
	border-radius: 15px;
	font-family: bold, "Bahnschrift SemiBold";
	width: 50%;
	font-size: 20px;
	margin: auto auto;
	text-align: center;
	display: block;
	
}
button:hover {
	cursor: pointer;
	background:rgba(500,250,50,0.7);
}
