*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.fondo{
	background-image: url(https://www.hdfondos.org/file/29175/728x410/16:9/olympic-games-rio-2016-rio-de-janeiro-brazil_530133905.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	opacity: 0.75px;
}
.titulo{
	margin: 10px;
	width: 35%;
	background-color: rgba(156,156,156,0.8);
	color: white;
	text-align: center;
	border-radius: 25%;
}
.nav{
	width: 475px;
	margin:55px auto;
	background: rgba(200,200,200,1);
	border-radius: 25px;
}
.nav ul{
	list-style: none;
}
.menu li{
	position: relative;
	display: inline-block;
	font-family: "Bookman Old Style";
	border-radius: 15px;

}
.menu a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}
.menu li a:hover{
	color: blue;
	transition: 11 .3s;
	background:rgba(100,250,50,0.75);
	cursor: pointer; 
}
#tabla{
	margin:auto;
	width: 600px;
}


table{
	background-image: url(https://images.vexels.com/media/users/3/77493/raw/67a61848aa7ebb105eb0bace28ece94f-tileable-deporte-colorido-wallpaper.jpg);
	text-align: left;
	border-collapse: collapse;
	width: 50%;
	border-radius: 5%;
}

td {
	padding: 20px;
	font-size: 20px;
}
 img{
 	width:350px;
	height:200px;
	margin: auto;
 }

.inscripcion {
	width: 375px;
	margin: auto; 
	background: rgba(350,400,450,0.80);
	padding: 20px 0px;
	box-sizing: content-box;
	margin-top:20px;
	border-radius: 15px; 
	font-family: "Bookman Old Style";
	text-align: center;
	}
	button{
		margin: auto;
	}
	#boton {
	background: rgba(173, 232, 23, 0.7);
	padding: 10px;
	border-radius: 15px;
	text-decoration-color: rgb(0,0,0);
	font-family: bold, "Bahnschrift SemiBold";
	width: 75%;
	font-size: 20px;
	margin: auto;
	}


	#boton:hover {
		cursor: pointer;
		background-color: rgba( 100, 125,255, 0.7);
	}
	select{
	width: 80%;
	text-align:left;
 	margin-bottom: 15px;
	padding: 7px;
	box-sizing: border-box;
	margin-left: 2px;
}

