*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.fondo{
	background-image: url(https://img2.rtve.es/i/?w=1600&i=1544616354043.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
	opacity: 0.75px;
}
.titulo{
	margin: 10px;
	width: 35%;
	background-color: rgba(156,156,156,0.8);
	color: white;
	text-align: center;
	border-radius: 25%;

}
.nav{
	width: 475px;
	margin:55px auto;
	background: rgba(200,200,200,1);
	border-radius: 25px;
}
.nav ul{
	list-style: none;
}

.menu li{
	position: relative;
	display: inline-block;
	font-family: "Bookman Old Style";
	border-radius: 15px;

}
.menu a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}
.menu li a:hover{
	color: blue;
	transition: 11 .3s;
	background:rgba(100,250,50,0.75);
	cursor: pointer; 
}
	.links{
			grid-area: links;
			border-style:outset;
			text-align: left;
			border-radius: 35px;
			width:400px;
			height:200px;
			margin: auto;
			overflow: hidden;
		}				
			.links ul{
				display: flex;
				padding: 0;
				width: 400%;

				animation: cambio 20s infinite;
				animation-direction: alternate;
				animation-timing-function: ease-in;
			}		 
				.links li{
					width: 100%;
					list-style: none;
				}
					.links img{
						width: 100%;
					}
@keyframes cambio{
	0% {margin-left: 0;}
	20% {margin-left: 0; }

	25%{margin-left: -100%}
	45%{margin-left: -100%}

	50%{margin-left: -200%}
	70%{margin-left: -200%}

	75%{margin-left: -300%}
	100%{margin-left: -300%}

}
.texto{
font-family: "Trebuchet MS", serif ; tamaño de letra : 48px;
background-color:rgba(100,200,50,0.8);
margin: auto;
text-align: center;
border-radius: 15px;
width:898px;
height:190px;
}