

.fondo {
	background-image: url(https://i.pinimg.com/originals/3b/28/9e/3b289e0cf7bd4a4a4e298b46e5922c2d.jpg);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
}
.titulos {
	margin: 10px;
	width: 35%;
	background-color: rgba(156,156,156,0.8);
	color: white;
	text-align: center;
	border-radius: 25%;
}
.nav{
	width: 500px;
	margin:50px auto;
	background: rgba(200,200,200,1);
	border-radius: 25px;
}
.nav ul{
	list-style: none;
}
.menu li{
	position: relative;
	display: inline-block;
	font-family: "Bookman Old Style";
	border-radius: 15px;

}
.menu a{
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color:black;
	border-radius: 15px;
}
.menu li a:hover{
	color: blue;
	transition: 11 .3s;
	background:rgba(100,250,50,0.75);
	cursor: pointer; 
}

.titulo h1{
	margin: auto;
	width: 25%;
	text-align: center;
	background-color: rgba(100,100,100,0.7);
	font-size: 35px;
	border-radius: 15%;
	}
.titulo p {
margin: auto;
text-align: center;
background-color: rgba(350,100,250,0.5);
font-size: 25px;
width: 51%;
border-radius: 12%;


}

#tabla{
	margin:auto;
	width: 600px;
}


table{
	background-image: url(https://previews.123rf.com/images/krekdm/krekdm1607/krekdm160700287/61897882-patr%C3%B3n-sin-fisuras-deporte-se-puede-utilizar-para-fondos-de-escritorio-fondo-de-p%C3%A1gina-web-papel-de-embal.jpg);
	text-align: left;
	border-collapse: collapse;
	width: 50%;
	border-radius: 5%;
}

th, td {
	padding: 20px;
}
 img{
 	width:350px;
	height:200px;
	margin: auto;
 }
 button{
	 margin: auto;
 }
 #boton {
	 width: 50%;
 }

 a{
	 text-decoration: none;
	 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }